.backdrop{
    position: absolute;
    width: 100vw;
    height:100vmax;
    top:0;
    left:0;
    z-index: 80;
    background-color: rgba(0,0,0,0.5);
}

.modeloverlay{
    position: absolute;
    width: 50%;
    top:30%;
    left:25%;
    z-index:100;
    background-color: white;
    padding: 1rem;
}
.card{
    border-radius: 12px;
    box-shadow: 1px 2px 2px grey;
}